/* GENERAL RULES */

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    height: 100%;
}

/* MOBILE */
/* navbar */

.mobile-navbar {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 16px;
    width: 100%;
}

.mobile-navbar p {
    grid-column: 2;
    align-self: flex-end;
    justify-self: center;
}

/* footer */

footer {
    justify-self: flex-end;
    width: 100vw;
    padding: 12px;
}

.footer-list {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/* DESKTOP */
/* navbar */

.desktop-navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    padding: 12px;
    width: 100%;
}

.desktop-navbar a {
    color: black;
    text-decoration: none;
}

.nav-list {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.right-nav-item {
    justify-self: flex-end;
}

.nav-list li {
    margin: 0px 16px 0px 0px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo-container img {
    width: 31px;
    height: 31px;
    margin-right: 8px;
}

@media (min-width: 601px) {
    .mobile-navbar {
        display: none;
    }
    footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .desktop-navbar {
        display: none;
    }
}