/* GENERAL RULES */

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-row: 2;
}

/* MOBILE */
/* navbar */

.mobile-navbar {
    grid-row: 1;
    display: grid;
    background-color: white;
    grid-template-columns: 15% 75% 10%;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 16px;
    width: 100%;
}

.mobile-navbar p {
    grid-column: 2;
    align-self: flex-end;
    justify-self: center;
}

/* footer */

footer {
    grid-row: 3;
    margin-top: auto;
    justify-self: flex-end;
    width: 100%;
    padding: 12px;
}
footer img{
    min-height: 20px;
    max-width: 25px;
}

.footer-list {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/* DESKTOP */
/* navbar */

.desktop-navbar {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    padding: 12px;
    width: 100%;
}

.desktop-navbar a {
    color: black;
    text-decoration: none;
}

.nav-list {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.right-nav-item {
    justify-self: flex-end;
}

.nav-list li {
    margin: 0px 16px 0px 0px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo-container img {
    width: 31px;
    height: 31px;
    margin-right: 8px;
}

.right-nav-item .pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (min-width: 601px) {
    .mobile-navbar {
        display: none;
    }
    footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .desktop-navbar {
        display: none;
    }
}

body.dark-mode, body.dark-mode .mobile-navbar, body.dark-mode .desktop-navbar {
    background-color: #211C12; 
    color: #f0f0f0; 
}
body.dark-mode .nav-list a{
    color: #f0f0f0;
}
body.dark-mode .desktop-navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
body.dark-mode .search-tab, body.dark-mode .search-tab input {
    background-color: #473D24;
    color: #f0f0f0;
}
body.dark-mode footer {
    background-color: #473D24; /* Navbar oscuro */
}
body.dark-mode .Home-post .person-name{
    color: #f0f0f0;
}