main {
    display: flex;
    flex-direction: row;
}

#PerfilText{
    grid-column: 2;
    align-self: flex-end;
    justify-self: center;
    margin: 0px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 68px);
}

.chat-date {
    font-size: 0.8em;
    color: #9E8747;
    font-weight: bold;
    align-self: center;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 16px;
}

.incoming img {
    margin-right: 8px;
}

.username {
    margin: 0px 0px 4px 0px;
    text-align: end;
    font-size: 0.8em;
    color: #9E8747;
}

.message-content {
    flex: 1;
    margin-right: 8px;
    color: black;
}

.text {
    margin: 0px;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #E4AC73;
}

.text-received {
    margin: 0px;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #F5F0E5;
}

.message-content-received {
    flex: 1;
    margin-left: 8px;
}



.username-received {
    margin: 0px 0px 4px 0px;
    text-align: start;
    font-size: 0.8em;
    color: #9E8747;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 12px 16px;
    background-color: #F5F0E5;
    border-radius: 12px;
    z-index: 100;
}

.input-container input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1em;
}

.input-container input:focus {
    outline: none;
}

.input-container input::placeholder {
    color: #9E8747;
}

.input-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Lista de chats */

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}

.chats-pannel{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    min-width: 248px;
    max-width: 400px;
    padding: 24px;
    background-color: #EBE3D2;
    max-height: calc(100vh - 68px);
}

.person{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
}

.person:first-child {
    margin-top: 0;
}

.person img{
    grid-row: 1/3;
    grid-column: 1;
}

.person-name{
    grid-row: 1;
    grid-column: 2;
    align-self: flex-end;
    margin-left: 16px;
}

.last-connection{
    grid-row: 2;
    grid-column: 2;
    color: #9C854A;
    align-self: center;
    margin-left: 16px;
}

/* Barra de búsquedas */

.search-tab{
    display: flex;
    flex-direction: row;
    background-color: #F2F0E8;
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
}

.search-tab img:nth-child(3) {
    margin-left: auto;
}

.search-tab input{
    font-size: 1em;
    border-style: none;
    background-color: #F2F0E8;
    min-width: 100px;
}

@media (max-width: 700px) {
    .desktop-content {
        display: none;
    }

    .chat-container {
        max-height: calc(100vh - 128px);
    }
}

ul img{
    width: 30;
    height: 35;
}

body.dark-mode {
    background-color: #211C12; 
    color: #f0f0f0;
}
body.dark-mode .desktop-content {
    background-color: #211C12;
}
body.dark-mode .title {
    color:#f0f0f0;
}
body.dark-mode .chat-container {
    background-color: #383229;
}
body.dark-mode .message-incoming, body.dark-mode .input-container {
    background-color: #473D24;
    color: #f0f0f0;
}