main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    max-height: calc(100vh - 68px);
}

.search-tab {
    display: flex;
    flex-direction: row;
    background-color: #F2F0E8;
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
}

.search-tab input{
    width: 90%;
    font-size: 1em;
    border-style: none;
    background-color: #F2F0E8;
}

.FriendsPannel{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 800px;
    width: 100%;
}

.person{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person:first-child {
    margin-top: 0;
}

.person img {
    margin-right: 24px;
    cursor: pointer;
}

.person p{
    cursor: pointer;
}

.person img:nth-child(3) {
    margin-left: auto;
    margin-right: 4px;
}

.DeleteFriendIcon{
    grid-column: 3;
    justify-self: flex-end;
}

@media (min-width: 601px) {
    body {
        background-color: #FCFAF7;
    }
}

@media (max-width: 600px) {
    main {
        max-height: calc(100vh - 128px);
    }
}

body.dark-mode {
    background-color: #211C12; 
    color: #f0f0f0;
}
