main {
    padding: 16px;
}

.HomePannel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePost{
    display: grid;
    color: #9C854A;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 25% 25% 25% 25%;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    max-width: 800px;
    width: 100%;
}

.HomePost:first-child{
    margin-top: 0;
}

.HomePost img{
    grid-row: 1/4;
    grid-column: 1;
}

.person-name{
    grid-row: 1;
    grid-column: 2;
    color:black;
    font-weight: bold;
}

.PostDescription{
    margin-top: 8px;
    grid-row: 2;
    grid-column: 2;
}

.last-connection{
    margin-top: 8px;
    grid-row: 3;
    grid-column: 2;
}

.PostLikes{
    grid-row: 4;
    grid-column: 1;
    width: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
}

.PostLikes img{
    margin-right: 8px;
}

.PostComments{
    grid-row: 4;
    grid-column: 2;
    display: inline-flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
}

.PostComments img{
    margin-right: 8px;
}

#Lupa-button{
    justify-items: flex-end;
    justify-self: flex-end;
    margin-right: 10%;
}

@media (min-width: 601px) {
    body {
        background-color: #FCFAF7;
    }
}