#PostLink{
    grid-column: 3;
    text-decoration: none;
    color: #9E8747;
}

.PostPannel{
    width: 100vw;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.PostDiv{
    width: 90%;
    height: 25%;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 65% 35%;
    background-color: #F5F0E5;
    justify-items: center;
    border-radius: 15px;
    padding-top: 5%;
}

.PostIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    grid-row: 2;
}

textarea{
    grid-row: 1;
    grid-column: 2/4;
    width: 95%;
    height: 90%;
    border-style: none;
    background-color: #F5F0E5;
    align-items: center;
    align-self: flex-end;
    outline: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2em;
}

#ImageIcon{
    grid-column: 2;
    justify-self: flex-end;
}

#VideoIcon{
    justify-self: flex-start;
    grid-column: 3;
}

#X-Icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 50%;
}