main {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#PostLink{
    grid-column: 3;
    text-decoration: none;
    color: #9E8747;
}

.PostPannel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostDiv{
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto 40px;
    background-color: #F5F0E5;
    justify-items: center;
    border-radius: 15px;
    border: 1px solid #E8E3CF;
    width: 100%;
    max-width: 800px;
    padding: 16px;
}

.profile-image {
    width: 40px;
    height: 40px;
}

.PostIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    grid-row: 2;
}

textarea{
    grid-row: 1;
    grid-column: 2/3;
    border-style: none;
    background-color: #F5F0E5;
    outline: none;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    max-height: 400px;
    padding-left: 12px;
    field-sizing: content;
    resize: none;
}

textarea:focus {
    border-style: none;
}

#ImageIcon{
    grid-column: 2;
    margin-left: calc(100% - 108px);
}

#VideoIcon{
    grid-column: 2;
    margin-left: auto;
}

#X-Icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 50%;
}

@media (min-width: 601px) {
    body {
        background-color: #FCFAF7;
    }
}

@media (max-width: 600px) {
    .desktop-content {
        display: none;
    }
}

@media (min-width: 601px) {
    .mobile-content {
        display: none;
    }

    .desktop-content{
        width: 50%;
        height: 100%;
        max-width: 50vw;
        max-height: calc(100vh - 200px);
        display: flex;
        margin-top: 40px;
        justify-self: center;
        align-self: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FCFAF7;
    }
    
    .Post-container{
        width: 100%;
        height: 100%;
        padding: 10px;
        display: inline-flex;
        flex-direction: column;
        justify-items: center;
        background-color: white;
        border-radius: 10px;
    }

    .Post-container h1{
        grid-row: 1;
        grid-column: 1/3;
        align-self: flex-start;
        justify-self: flex-start;
        margin-left: 30px;
    }

    .Writeable-area{
        width: 100%;
        height: 30%;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 20% 80%;
        border-radius: 15px;
        background-color: #F5F0E5;
    }

    .Writeable-area img{
        grid-column: 1;
        grid-row: 1;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        justify-self: center;
    }

    .Writeable-area textarea{
        grid-column: 2;
        grid-row: 1;
        width: 95%;
        height: 80%;
        justify-self: flex-start;
        align-self: flex-end;
    }

    .File-input{
        width: 100%;
        height: 25%;
        border-radius: 15px;
        margin-top: 15px;
        background-color: #F5F0E5;
        outline: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dashed #ccc; 
        cursor: pointer;
    }

    .File-input img{
        margin-top: 10px;
        width: 40px;
        height: 40px;
        color: #888;
    }

    .File-input p{
        color: #666;
        font-size: 16px;
        margin: 0;
    }

    .File-input:hover {
        background-color: #f1f1f1;
        border-color: #999;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .Post-button-link{
        display: inline-flex;
        width: 100%;
        height: 15%;
        margin-top: 15px;
        text-decoration: none;
    }

    .Post-button{
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        justify-self: center;
        border-radius: 10px;
        outline: none;
        border-style: none;
    }

    #post-button{
        background-color: #E4AC73;
        margin-left: 20px;
    }

    #cancel-button{
        background-color: #F2F2F2;
    }
}

body.dark-mode {
    background-color: #211C12; 
    color: #f0f0f0; 
}
body.dark-mode .NavBar {
    background-color: #211C12; 
}
body.dark-mode .Menu {
    background-color: #473D24;
}

body.dark-mode h2 {
    color: #f0f0f0;
}
body.dark-mode .PostDiv {
    background-color: #473D24;
}
body.dark-mode #PostTextArea  {
    background-color: #473D24;
    color: #f0f0f0;
}