.SearchPannel{
    width: 100vw;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.SearchTabDiv{
    width: 90%;
    height: 10%;
    background-color: #F2F0E8;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-self: center;
}

.SearchTabDiv *{
    margin-left: 2%;
}

.SearchTabDiv input{
    width: 70%;
    font-size: 1em;
    border-style: none;
    background-color: #F2F0E8;
}

.PersonDiv{
    margin-top: 4%;
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-columns: 25% 45% 15% 15%;
    align-items: center;
}

.Icon{
    width: 40px;
    height: 40px;
}