html{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.NavBar{
    margin: 0;
    width: 90vw;
    height: 10vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 5%;
}

#NavBarText{
    grid-column: 2;
    align-self: flex-end;
}

.ChatsPannel{
    width: 100vw;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.PersonDiv{
    margin-top: 4%;
    width: 90%;
    height: 15%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.PersonDiv img{
    grid-row: 1/3;
    grid-column: 1;
}

.PersonName{
    grid-row: 1;
    grid-column: 2;
    align-self: flex-start;
}

.LastConnection{
    grid-row: 2;
    grid-column: 2;
    color: #9C854A;
    align-self: flex-end;
}

.Icon{
    width: 40px;
    height: 40px;
}

footer{
    margin-top: auto;
    border-width: 0;
    border-top: 1px;
    border-color: black;
    border-style: solid;
}

ul{
    margin: 0;
    margin-top: auto;
    padding: 0;
    width: 100vw;
    height: 8vh;
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-items: space-evenly;
    justify-content: space-evenly;
}

ul img{
    width: 30;
    height: 35;
}