html{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.NavBar{
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
    padding: 16px;
}

#PerfilText{
    grid-column: 2;
    align-self: flex-end;
    justify-self: center;
    margin: 0px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-date {
    font-size: 0.8em;
    color: #9E8747;
    font-weight: bold;
    align-self: center;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 16px;
}

.username {
    margin: 0px 0px 4px 0px;
    text-align: end;
    font-size: 0.8em;
    color: #9E8747;
}

.message-content {
    flex: 1;
    margin-right: 8px;
}

.text {
    margin: 0px;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #E4AC73;
}

.message-received {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 16px;
}

.text-received {
    margin: 0px;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #F5F0E5;
}

.message-content-received {
    flex: 1;
    margin-left: 8px;
}

.username-received {
    margin: 0px 0px 4px 0px;
    text-align: start;
    font-size: 0.8em;
    color: #9E8747;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 12px 16px;
    background-color: #F5F0E5;
    border-radius: 12px;
    z-index: 100;
}

.input-container input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1em;
}

.input-container input:focus {
    outline: none;
}

.input-container input::placeholder {
    color: #9E8747;
}

.input-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

footer{
    margin-top: auto;
}

ul{
    margin: 0;
    margin-top: auto;
    padding: 0;
    width: 100vw;
    height: 8vh;
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-items: space-evenly;
    justify-content: space-evenly;
}

ul img{
    width: 30;
    height: 35;
}