html{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.NavBar{
    margin: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
}

.NavBarLogo{
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.HomePannel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.HomePost{
    width: 90%;
    margin-left: 5%;
    height: 25%;
    display: grid;
    color: #9C854A;
    grid-template-columns: 20% 70%;
    grid-template-rows: 25% 25% 25% 25%;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
}

.HomePost img{
    grid-row: 1/4;
    grid-column: 1;
}

.PersonName{
    grid-row: 1;
    grid-column: 2;
    color:black;
    font-weight: bold;
}

.PostDescription{
    grid-row: 2;
    grid-column: 2;
}

.LastConnection{
    grid-row: 3;
    grid-column: 2;
}

.PostLikes{
    grid-row: 4;
    grid-column: 1;
    width: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.PostComments{
    grid-row: 4;
    grid-column: 2;
    width: 10%;
    display: inline-flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-around;
}

#Lupa-button{
    justify-items: flex-end;
    justify-self: flex-end;
    margin-right: 10%;
}

footer{
    margin-top: auto;
    border-width: 0;
    border-top: 1px;
    border-color: black;
    border-style: solid;
}

ul{
    margin: 0;
    margin-top: auto;
    padding: 0;
    width: 100vw;
    height: 8vh;
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-items: space-evenly;
    justify-content: space-evenly;
}

ul img{
    width: 30;
    height: 35;
}

body.dark-mode {
    background-color: #211C12; /* Color de fondo oscuro */
    color: #f0f0f0; /* Color de texto claro */
}
body.dark-mode .NavBar {
    background-color: #211C12; /* Navbar oscuro */
}
body.dark-mode .Menu {
    background-color: #473D24; /* Navbar oscuro */
}
/* Agrega reglas similares para otros elementos como h2, p, etc. */
body.dark-mode h2 {
    color: #f0f0f0;
}
body.dark-mode .HomePost {
    color: #9C854A;
}
body.dark-mode .PersonName{
    color:#f0f0f0;
}
body.dark-mode .HomePost{
    color: #C9BA91;
}

@media(orientation: portrait){
    #LogoImg{
        display:none;
    }
    .NavBar{
        height: 8vh;
        justify-content: center;
        align-items: center;
    }
}