html{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.NavBar{
    margin: 0;
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: grid;
    grid-template-columns: 10% 65% 25%;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

#NavBarText{
    grid-column: 2;
    justify-self: center;
    margin-left: 25%;
}

#PostLink{
    grid-column: 3;
    text-decoration: none;
    color: #9E8747;
}

.PostPannel{
    width: 100vw;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.PostDiv{
    width: 90%;
    height: 25%;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 65% 35%;
    background-color: #F5F0E5;
    justify-items: center;
    border-radius: 15px;
    padding-top: 5%;
}

.PostIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    grid-row: 2;
}

textarea{
    grid-row: 1;
    grid-column: 2/4;
    width: 95%;
    height: 90%;
    border-style: none;
    background-color: #F5F0E5;
    align-items: center;
    align-self: flex-end;
    outline: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2em;
}

#ImageIcon{
    grid-column: 2;
    justify-self: flex-end;
}

#VideoIcon{
    justify-self: flex-start;
    grid-column: 3;
}

#X-Icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 50%;
}

footer{
    margin-top: auto;
    border-width: 0;
    border-top: 1px;
    border-color: black;
    border-style: solid;
}

ul{
    margin: 0;
    margin-top: auto;
    padding: 0;
    width: 100vw;
    height: 8vh;
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-items: space-evenly;
    justify-content: space-evenly;
}

ul img{
    width: 30;
    height: 35;
}