#Arrow-button{
    width: 24px;
    height: 24px;
}

.pfp-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.title {
    margin-bottom: 4px;
    color: black;
}

.subtitle{
    font-size: 0.9em;
    color: #9E8747;
    margin: 0;
}

#profile-image {
    margin-right: 16px;
}

.black-link {
    text-decoration: none;
    color: black;
}

@media (min-width: 601px) {
    body {
        background-color: #FCFAF7;
    }
}

body.dark-mode {
    background-color: #211C12; 
    color: #f0f0f0;
}
body.dark-mode .NavBar {
    background-color: #211C12;
}
body.dark-mode .Menu {
    background-color: #473D24; 
}

body.dark-mode h2 {
    color: #f0f0f0;
}
body.dark-mode a, body.dark-mode a:visited {
  color: #f0f0f0;
}