main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

#ProfileImage{
    width: 90px;
    height: 90px;
}

#ProfileName{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.title{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 24px;
    color: black;
    text-align: left;
    max-width: 800px;
}

.about-me{
    color: #555;
    margin-top: 8px;
    text-align: left;
    max-width: 800px;
}

.ProfilePannel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.Posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.PostsText{
    margin-left: 5%;
}

.ProfileButtonsDiv{
    display: flex;
    margin-top: 32px;
}

.ProfileButton{
    background-color: #E4AC73;
    color: black;
    font-weight: bold;
    border-style: none;
    padding: 16px 32px;
    border-radius: 12px;
    cursor: pointer;
}

.ProfileButton:first-child{
    margin-right: 16px;
}

#EditProfileButton{
    background-color: #E8E0CF;
}

.ProfilePost{
    display: grid;
    color: #9C854A;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 25% 25% 25% 25%;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    max-width: 800px;
    width: 100%;
}

.HomePost:first-child{
    margin-top: 0;
}

.ProfilePost img{
    grid-row: 1/4;
    grid-column: 1;
}

.person-name{
    color:black;
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
}

.PostDescription{
    grid-row: 2;
    grid-column: 2;
}

.last-connection{
    grid-row: 3;
    grid-column: 2;
}

.PostLikes{
    grid-row: 4;
    grid-column: 1;
    width: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
}

.PostLikes img{
    margin-right: 8px;
}

.PostComments{
    grid-row: 4;
    grid-column: 2;
    display: inline-flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-around;
}

.PostComments img{
    margin-right: 8px;
}

@media (min-width: 601px) {
    body {
        background-color: #FCFAF7;
    }

    .ProfilePannel{
        overflow-y: hidden;
    }
}

@media (max-width: 600px) {
    main {
        max-height: calc(100vh - 128px);
    }
}

ul img{
    width: 30;
    height: 35;
}
body.dark-mode {
    background-color: #211C12; 
    color: #f0f0f0;
}
body.dark-mode .NavBar {
    background-color: #211C12; 
}
body.dark-mode .Menu {
    background-color: #473D24;
}

body.dark-mode h2 {
    color: #f0f0f0;
}
body.dark-mode .PersonName{
    color:#f0f0f0;
}
body.dark-mode .SearchTabDiv{
    background-color: #473D24;
}
body.dark-mode .SearchTabDiv input{
    background-color: #473D24;
    color: #f0f0f0;
}