{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Melao - Chat{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/chatList.css' %}">
{% endblock %}

{% block static_js %}
    <script>
    let dataDummy = [
        {
            name: "Ethan Hunt",
            image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            last_connection: "Activo ahora"
        },
        {
            name: "Ethan Hunt",
            image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            last_connection: "Activo hace 2d"
        },
        {
            name: "Ethan Hunt",
            image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            last_connection: "Activo hace 5 min"
        },
        {
            name: "Ethan Hunt",
            image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            last_connection: "Activo hace 2h"
        },
        {
            name: "Ethan Hunt",
            image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            last_connection: "Activo hace 1 semana"
        }
        ];

        function renderPeople(people) {
            people.forEach(element => {
                const personLink = document.createElement("a");
                personLink.setAttribute("class", "person");
                // Replace '1' with a unique identifier if available in your data
                personLink.setAttribute("href", "{% url 'melaoapp:chat_view' %}");

                const personImg = document.createElement("img");
                personImg.setAttribute("src", element.image);
                personImg.setAttribute("width", "70");
                personImg.setAttribute("height", "70");
                personImg.setAttribute("alt", "X");

                const person_name = document.createElement("p");
                person_name.setAttribute("class", "person-name");
                person_name.innerText = element.name;

                const personlast_connection = document.createElement("p");
                personlast_connection.setAttribute("class", "last-connection");
                personlast_connection.innerText = element.last_connection;

                personLink.appendChild(personImg);
                personLink.appendChild(person_name);
                personLink.appendChild(personlast_connection);

                document.getElementsByClassName("chats-pannel")[0].appendChild(personLink);
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            renderPeople(dataDummy);
        });
        </script>
        {% endblock %}

{% block content %}
    <div class="chats-pannel">
    </div>
{% endblock %}