{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Melao - Amigos{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/friendsList.css' %}">
{% endblock %}

{% block static_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.querySelector('.search-tab input');
            const persons = document.querySelectorAll('.person');

            searchInput.addEventListener('input', function(event) {
                const searchTerm = event.target.value.toLowerCase();

                persons.forEach(person => {
                    const personNameElement = person.querySelector('.person_name');
                    const personName = personNameElement.textContent.toLowerCase();

                    if (personName.startsWith(searchTerm)) {
                        person.style.display = 'flex';
                    } else {
                        person.style.display = 'none';
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="search-tab">
        <img src="{% static 'melaoapp/img/Lupa.png' %}">
        <input type="text" placeholder="{% trans "Search" %}">
    </div>
    
    <div class="FriendsPannel">
        {% for friend in friends %}
        <div class="person">
            <img src="{{ friend.profile_picture_url }}" width="70" height="70" alt="Foto de perfil">
            <p class="person_name">{{ friend.user.first_name }} {{ friend.user.last_name }}</p>
            <img src="{% static 'melaoapp/img/X-Search-Icon-Filled.png' %}" width="30" height="30" alt="X" class="DeleteFriendIcon">
        </div>
        {% endfor %}
    </div>
{% endblock %}