{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Melao - Home{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="Home-pannel mobile-content">
        {% for post in posts %}
        <div class="Home-post">
            {% if post.username.profile_picture %}
                <img alt="Foto de Perfil" src="{{ post.username.profile_picture.url }}" width="70" height="70" alt="X">
            {% else %}
                <img alt="Foto de Perfil" src="{% static 'melaoapp/img/EthanHuntProfile.png' %}" width="70" height="70" alt="X">
            {% endif %}

            <p class="person-name">{{ post.username.full_name }}</p>
            <p class="Post-description">{{ post.description }}</p>
            
            {% if post.multimedia %}
            <img src="{{ post.multimedia.url }}" class="post-image-mobile">
            {% endif %}
            
            <p class="last_connection">{{ post.post_date }}</p>
            <div class="Post-likes">
                <img src="{% static 'melaoapp/img/Like.png' %}" width="20" height="20">
                <p class="Likes-count">12</p>
            </div>
            <div class="Post-comments">
                <img src="{% static 'melaoapp/img/Comment.png' %}" width="20" height="20">
                <p class="Comments-count">5</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="Home-pannel desktop-content">
        {% for post in posts %}
        <div class="Post-pannel">
            <div class="User-post-pannel">
                <img src="{{ post.student.profile_picture_url }}" class="profile-image">
                <div class="Person-name-div">
                    <p class="Person-name">{{ post.student.full_name }}</p>
                    <p class="Post-date">{{ post.post_date }}</p>
                </div>
                <p class="Post-description">{{ post.description }}</p>
                
                <div class="Post-image-container">
                    {% if post.multimedia %}
                        <img src="{{ post.multimedia.url }}" class="Post-image">
                    {% endif %}
                </div>
                
                <div class="Post-likes">
                    <img src="/static/melaoapp/img/Like.png" class="Post-icon" alt="Like">
                    <p class="Post-likes-text">12</p>
                </div>
                <div class="Post-comments">
                    <img src="/static/melaoapp/img/Comment.png" class="Post-icon" alt="Comments">
                    <p class="Post-comments-text">5</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}