{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Configuration" %}{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/languageAndThemeConfig.css' %}">
{% endblock %}

{% block static_js %}
    <script src="{% static 'melaoapp/js/languageAndThemeConfig.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="ConfigPancnel">
        <img src="{% static 'melaoapp/img/left_arrow.svg' %}" alt="{% trans 'Go back' %}" class="BackButton" onclick="history.back()">
        <p class="title">{% trans "Language" %}</p>
        <div id="Language">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <select name="language" class="Languages" onchange="this.form.submit()">
                    <option value="es" {% if request.LANGUAGE_CODE == 'es' %}selected{% endif %}>
                        {% trans "Spanish" %}
                    </option>
                    <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>
                        {% trans "English" %}
                    </option>
                </select>
            </form>
        </div>
        <p class="title">{% trans "Theme" %}</p>
        <div id="Theme">
            <button class="ThemeButton" id="LightMode"><p>{% trans "Light" %}</p></button>
            <button class="ThemeButton" id="DarkMode"><p>{% trans "Dark" %}</p></button>
        </div>
    </div>
{% endblock %}