{% extends 'melaoapp/base.html' %}
{% load static %}

{% block title %}Melao - Modificar Perfil{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/newPost.css' %}">
{% endblock %}


{% block content %}
    <div class="Post-pannel mobile-content">
        <div class="PostDiv">
            <img src="{% static 'melaoapp/img/EthanHuntProfile.png' %}" class="profile-image">
            <textarea id="text-area-mobile"></textarea>
            <img src="{% static 'melaoapp/img/IMG-Icon.png' %}" id="ImageIcon" class="PostIcon">
            <img src="{% static 'melaoapp/img/Video-Icon.png' %}" id="VideoIcon" class="PostIcon">
        </div>
    </div>
    <div class="Post-pannel desktop-content">
        <div class="Post-container">
            <h1>Hacer publicación</h1>
            <div class="Writeable-area">
                <img src="{% static 'melaoapp/img/EthanHuntProfile.png' %}" class="profile-image">
                <textarea id="text-area-desktop" placeholder="Escribe lo que estás pensando..."></textarea>
            </div>
            <label for="file-input" class="File-input">
            <img src="{% static 'melaoapp/img/uploadFile.png' %}" class="gallery-icon">
            <p>Subir Videos o Imágenes</p>
            </label>

            <input type="file" id="file-input" class="visually-hidden" accept="image/*,video/*">
            <a href="{% url 'melaoapp:home' %}" class="Post-button-link">
                <input type="button" id="cancel-button" value="Cancelar" class="Post-button">
                <input type="button" id="post-button" value="Publicar en perfil" class="Post-button">
            </a>    
        </div>
    </div>
{% endblock %}