{% extends 'melaoapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Restablecimiento de contraseña{% endblock %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'melaoapp/css/welcome.css' %}">
{% endblock %}

{% block custom_header %}
<header class="mobile-navbar">
        <p>Melao</p>
</header>
<div class="desktop-navbar">
    <ul class="nav-list">
        <li>
            <a class="logo-container" href="{% url 'melaoapp:welcome' %}">
                <img src="{% static 'melaoapp/img/logoIcono.png' %}" alt="Home">
                <p class="logo-text">Melao</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<form method="POST" class="welcome-container">
    {% csrf_token %}

    <div class="welcome-logo">
        <img src="{% static 'melaoapp/img/logo.png' %}" alt="Logo de Melao" class="Logo" width="80" height="80">
        <h1>Recuperar contraseña</h1>
    </div>
    
    <p class="description">
        Ingresa tu dirección de correo electrónico a continuación. Te enviaremos un enlace para que puedas establecer una nueva contraseña.
    </p>

    <input type="email" placeholder="Correo" class="input-field" name="email">
    <button type="submit" class="button">Enviar enlace de restablecimiento</button>
</form>
{% endblock %}

{% block custom_footer %}
<footer>
    <p>Proyecto Melao - 2025</p>
</footer>
{% endblock %}
