{% extends 'melaoapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Nueva contraseña{% endblock %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'melaoapp/css/welcome.css' %}">
{% endblock %}

{% block custom_header %}
<header class="mobile-navbar">
        <p>Melao</p>
</header>
<div class="desktop-navbar">
    <ul class="nav-list">
        <li>
            <a class="logo-container" href="{% url 'melaoapp:welcome' %}">
                <img src="{% static 'melaoapp/img/logoIcono.png' %}" alt="Home">
                <p class="logo-text">Melao</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<form method="POST" class="welcome-container">
{% csrf_token %}
    <div class="welcome-logo">
        <img src="{% static 'melaoapp/img/logo.png' %}" alt="Logo de Melao" class="Logo" width="80" height="80">
        <h1>Ingresa tu nueva contraseña</h1>
    </div>
    
    {% if validlink %}
        <input type="password" placeholder="Nueva contraseña" name="new_password1" class="input-field">
        <input type="password" placeholder="Confirmar contraseña" name="new_password2" class="input-field">
        <button type="submit" class="button">Cambiar contraseña</button>
    {% else %}
        <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicita un nuevo restablecimiento de contraseña.</p>
    {% endif %}


</form>
{% endblock %}

{% block custom_footer %}
<footer>
    <p>Proyecto Melao - 2025</p>
</footer>
{% endblock %}
