{% extends 'melaoapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Confirmacion de restablecimiento de contraseña{% endblock %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'melaoapp/css/welcome.css' %}">
{% endblock %}

{% block custom_header %}
<header class="mobile-navbar">
        <p>Melao</p>
</header>
<div class="desktop-navbar">
    <ul class="nav-list">
        <li>
            <a class="logo-container" href="{% url 'melaoapp:welcome' %}">
                <img src="{% static 'melaoapp/img/logoIcono.png' %}" alt="Home">
                <p class="logo-text">Melao</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="welcome-container">

    <div class="welcome-logo">
        <img src="{% static 'melaoapp/img/logo.png' %}" alt="Logo de Melao" class="Logo" width="80" height="80">
        <h1>Correo de restablecimiento enviado</h1>
    </div>
    <p>Hemos enviado un correo electrónico a la dirección que proporcionaste. Revisa tu bandeja de entrada y sigue las instrucciones para restablecer tu contraseña. Si no lo ves, revisa tu carpeta de spam.</p>

</div>
{% endblock %}

{% block custom_footer %}
<footer>
    <p>Proyecto Melao - 2025</p>
</footer>
{% endblock %}
