{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Melao - Buscar{% endblock %}

{% block static_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.querySelector('.search-tab input');
            const persons = document.querySelectorAll('.person');

            searchInput.addEventListener('input', function(event) {
                const searchTerm = event.target.value.toLowerCase();

                persons.forEach(person => {
                    const personNameElement = person.querySelector('.person_name');
                    const personName = personNameElement.textContent.toLowerCase();

                    if (personName.startsWith(searchTerm)) {
                        person.style.display = 'flex';
                    } else {
                        person.style.display = 'none';
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
        const addButton = document.getElementById('Add-Friend-Button');

        if (addButton) {
            addButton.addEventListener('click', function() {
                const recipientUsername = addButton.dataset.recipientUsername;
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const data = {
                    receiver_username: recipientUsername,
                    sender_username: '{{ request.user.username }}'
                };

                fetch('/addFriend/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la red o en el servidor');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Respuesta del servidor:', data);
                    alert('¡Solicitud enviada con éxito!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Hubo un error al enviar la solicitud.');
                });
            });
        }
    });
    </script>
{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/searchPeople.css' %}">
{% endblock %}

{% block content %}
    <div class="search-tab">
        <img src="{% static 'melaoapp/img/Lupa.png' %}" alt="{% trans "Search icon" %}">
        <input type="text" placeholder="{% trans "Search" %}">
        <img src="{% static 'melaoapp/img/X-Search-Icon.png' %}" alt="{% trans "Delete search icon" %}">
    </div>
    
    <div class="search-panel">
        {% for person in persons %}
        <div class="person">
            <img src="{{ person.profile_picture_url }}" width="70" height="70" alt="X">
            <p class="person_name">{{ person.user.first_name }} {{ person.user.last_name }}</p>
            <img src="/static/melaoapp/img/AddFriend.png" width="30" height="30" alt="AddFriend" class="Icon Add-Friend-Button">
            <img src="/static/melaoapp/img/Chat.png" width="30" height="30" alt="Chat" class="Icon">
        </div>
        {% endfor %}
    </div>
{% endblock %}