{% extends 'melaoapp/base.html' %}
{% load static %}

{% block title %}Melao - Buscar{% endblock %}

{% block static_js %}
    <script>
        let dataDummy = [
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            },
            {
                name: "Ethan Hunt",
                image: "{% static 'melaoapp/img/EthanHuntProfile.png' %}",
            }
        ];

        function renderPeople(people) {
            people.forEach(element => {
                const person = document.createElement("div");
                person.setAttribute("class", "person");

                const personImg = document.createElement("img");
                personImg.setAttribute("src", element.image);
                personImg.setAttribute("width", "70");
                personImg.setAttribute("height", "70");
                personImg.setAttribute("alt", "X");

                const person_name = document.createElement("p");
                person_name.setAttribute("class", "person_name");
                person_name.innerText = element.name;

                const addFriends = document.createElement("img");
                addFriends.setAttribute("src", "{% static '/melaoapp/img/AddFriend.png' %}");
                addFriends.setAttribute("width", "30");
                addFriends.setAttribute("height", "30");
                addFriends.setAttribute("alt", "AddFriend");
                addFriends.setAttribute("class", "Icon");

                const chat = document.createElement("img");
                chat.setAttribute("src", "{% static '/melaoapp/img/Chat.png' %}");
                chat.setAttribute("width", "30");
                chat.setAttribute("height", "30");
                chat.setAttribute("alt", "Chat");
                chat.setAttribute("class", "Icon");

                person.appendChild(personImg);
                person.appendChild(person_name);
                person.appendChild(addFriends);
                person.appendChild(chat);

                document.getElementsByClassName("search-panel")[0].appendChild(person);
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            renderPeople(dataDummy);
        });
    </script>
{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/searchPeople.css' %}">
{% endblock %}

{% block content %}
    <div class="search-tab">
        <img src="{% static 'melaoapp/img/Lupa.png' %}" alt="Icono de lupa">
        <input type="text" placeholder="Buscar...">
        <img src="{% static 'melaoapp/img/X-Search-Icon.png' %}" alt="Icono de borrar búsqueda">
    </div>
    
    <div class="search-panel">
    </div>
{% endblock %}