{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Melao - Buscar{% endblock %}

{% block static_js %}
    <script>
        const ADD_FRIEND_URL = "{% url 'melaoapp:send-notification' %}";
        const SENDER_USERNAME = "{{ request.user.username }}";
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="{% static 'melaoapp/js/searchPerson.js' %}"></script>
{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/searchPeople.css' %}">
{% endblock %}

{% block content %}
    <div class="search-tab">
        <img src="{% static 'melaoapp/img/Lupa.png' %}" alt="{% trans "Search icon" %}">
        <input type="text" placeholder="{% trans "Search" %}">
        <img src="{% static 'melaoapp/img/X-Search-Icon.png' %}" alt="{% trans "Delete search icon" %}">
    </div>
    
    <div class="search-panel">
        <form method="post" id="csrf-form">{% csrf_token %}</form>
        {% for person in persons %}
        <div class="person" data-username="{{ person.user.username }}">

            {% if person.profile_picture %}
                <img src="{{ person.profile_picture.url }}" width="70" height="70" alt="X">
            {% else %}
                <img src="{% static "melaoapp/img/EthanHuntProfile.png" %}" width="70" height="70" alt="X">
            {% endif %}

            <p class="person_name">{{ person.user.first_name }} {{ person.user.last_name }}</p>
            <img src="{% if request.COOKIES.theme == 'dark' %}{% static '/melaoapp/img/dark/AddFriendDark.png'%}{% else %}{% static '/melaoapp/img/AddFriend.png'%}{% endif %}" width="30" height="30" alt="AddFriend" class="Icon Add-Friend-Button" onclick="sendFriendRequest('{{ person.user.username }}', 1)">
            <img src="{% if request.COOKIES.theme == 'dark' %}{% static '/melaoapp/img/dark/ChatDark.png'%}{% else %}{% static '/melaoapp/img/Chat.png'%}{% endif %}" width="30" height="30" alt="Chat" class="Icon">
        </div>
        {% endfor %}
    </div>
{% endblock %}