{% extends 'melaoapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Crear una cuenta{% endblock %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'melaoapp/css/signUpView.css' %}">
{% endblock %}

{% block custom_header %}
<header class="mobile-navbar">
        <p>Crear una cuenta</p>
</header>
<div class="desktop-navbar">
    <ul class="nav-list">
        <li>
            <a class="logo-container" href="{% url 'melaoapp:welcome' %}">
                <img src="{% static 'melaoapp/img/logoIcono.png' %}" alt="Home">
                <p class="logo-text">Melao</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="welcome-container">
    <div class="welcome-logo desktop-content">
        <img src="{% static 'melaoapp/img/logo.png' %}" alt="Logo de Melao" class="Logo" width="80" height="80">
        <h1>Crear una cuenta</h1>
    </div>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.username|add_class:"input-field"|attr:"placeholder:Usuario" }}
        {% for error in form.username.errors %}
                <small class="alert-error">{{ error }}</small>
        {% endfor %}
        {{ form.email|add_class:"input-field"|attr:"placeholder:Correo electrónico" }}
        {% for error in form.email.errors %}
                <small class="alert-error">{{ error }}</small>
        {% endfor %}
        {{ form.first_name|add_class:"input-field"|attr:"placeholder:Nombre" }}
        {{ form.last_name|add_class:"input-field"|attr:"placeholder:Apellido" }}
        {{ form.gender|add_class:"input-field" }}
        {{ form.date_of_birth|add_class:"input-field"|attr:"placeholder:Fecha de nacimiento" }}
        {{ form.password1|add_class:"input-field"|attr:"placeholder:Contraseña" }}
        {% for error in form.password.errors %}
                <small class="alert-error">{{ error }}</small>
        {% endfor %}
        {{ form.password2|add_class:"input-field"|attr:"placeholder:Confirmar contraseña" }}
        {% for error in form.password2.errors %}
                <small class="alert-error">{{ error }}</small>
        {% endfor %}

        {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                        <p class="alert-error">{{ error }}</p>
                    {% endfor %}
                </div>
        {% endif %}

        <button type="submit" class="button">Registrarse</button>
        <button type="button" onclick="window.location.href='{% url 'melaoapp:welcome' %}'" class="button sign-up">Volver</button>
    </form>
</div>
{% endblock %}

{% block custom_footer %}
<footer>
    <p>Al registrarte, aceptas nuestras Condiciones, Política de Privacidad y Uso de Cookies.</p>
</footer>
{% endblock %}
