{% extends 'MelaoApp/base.html' %}
{% load static %}

{% block title %}Crear una cuenta{% endblock %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'MelaoApp/css/signUpView.css' %}">
{% endblock %}

{% block custom_header %}
<header class="mobile-navbar">
        <p>Crear una cuenta</p>
</header>
<div class="desktop-navbar">
    <ul class="nav-list">
        <li>
            <a class="logo-container" href="{% url 'MelaoApp:welcome' %}">
                <img src="{% static 'MelaoApp/img/logoIcono.png' %}" alt="Home">
                <p class="logo-text">Melao</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="welcome-container">
        <div class="welcome-logo desktop-content">
            <img src="{% static 'MelaoApp/img/logo.png' %}" alt="Logo de Melao" class="Logo" width="80" height="80">
            <h1>Crear una cuenta</h1>
        </div>
        
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                 {% endfor %}
            </div>
        {% endif %}

        <div >
            <form method="POST" action="{% url 'MelaoApp:registrar_estudiante' %}" class="display-form">
                {% csrf_token %}
                <input type="text" value="{{ form_data.full_name|default:'' }}" placeholder="Nombre completo" class="input-field" id="name" name="name" required>
                <input type="text" value="{{ form_data.user|default:'' }}" placeholder="Usuario" class="input-field" name="user" required>
                <input type="email" value="{{ form_data.email|default:'' }}" placeholder="Correo electronico" class="input-field" name="email" required>
                <input type="password" placeholder="Contraseña" class="input-field" name="password" required>
                <input type="date" value="{{ form_data.birth_date|default:'' }}" class="input-field" name="birth_date" required>
            
                <button type="submit" class="button">
                    Registrarse
                </button>
            </form> 
        </div>
        <button onclick="document.location.href='{% url 'MelaoApp:welcome' %}'" class="button sign-up">
            Volver
        </button>
    </div>
{% endblock %}

{% block custom_footer %}
<footer>
    <p>Al registrarte, aceptas nuestras Condiciones, Política de Privacidad y Uso de Cookies.</p>
</footer>
{% endblock %}