{% extends 'melaoapp/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Notificaciones{% endblock %}
<p class="title">Notificaciones</p>
{% block static_js %}
    <script>
        const ADD_FRIEND_URL = "{% url 'melaoapp:accept-friend-request' %}";
        const SENDER_USERNAME = "{{ request.user.username }}";
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="{% static 'melaoapp/js/viewNotifications.js' %}"></script>
{% endblock %}

{% block static_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'melaoapp/css/viewNotifications.css' %}">
{% endblock %}

{% block content %}
    <div class="NotificationsPannel">
        {% for notification in notifications %}
        <div class="person">
            {% if  notification.sender_username.profile_picture %}
                <img src="{{ notification.sender_username.profile_picture.url }}" width="70" height="70" alt="X">
            {% else %}
                <img src="{% static "melaoapp/img/EthanHuntProfile.png" %}%}" width="70" height="70" alt="X">
            {% endif %}
            
            <p class="person-name">{{ notification.sender_username.user.first_name }} {{ notification.sender_username.user.last_name }}</p>
            
            {% if notification.type == 1 %}
                <p class="Description">Te ha enviado una solicitud de amistad</p>
                <img src="/static/melaoapp/img/AddFriendBGLess.png" width="30" height="30" alt="X" class="NotificationIcon" onclick="acceptFriendRequest('{{ notification.sender_username.user.username }}')">
            {% elif notification.type == 2 %}
                <p class="Description">Te ha enviado una solicitud de chat</p>
                <img src="/static/melaoapp/img/chatRequest.png" width="30" height="30" alt="X" class="NotificationIcon">
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}