{% extends 'melaoapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Bienvenido{% endblock %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'melaoapp/css/welcome.css' %}">
{% endblock %}

{% block custom_header %}
<header class="mobile-navbar">
        <p>Melao</p>
</header>
<div class="desktop-navbar">
    <ul class="nav-list">
        <li>
            <a class="logo-container" href="{% url 'melaoapp:welcome' %}">
                <img src="{% static 'melaoapp/img/logoIcono.png' %}" alt="Home">
                <p class="logo-text">Melao</p>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<form method="POST" class="welcome-container">
    {% csrf_token %}

    <div class="welcome-logo">
        <img src="{% static 'melaoapp/img/logo.png' %}" alt="Logo de Melao" class="Logo" width="80" height="80">
        <h1>Bienvenido a Melao</h1>
    </div>
    
    <p class="description">
        Conéctate con tus compañeros, comparte experiencias y mantente al día con lo que sucede en la comunidad de ATI.
    </p>

    <!-- Campo usuario -->
    {% if form.username.errors %}
        <div class="form-error">{{ form.username.errors }}</div>
    {% endif %}
    {{ form.username|add_class:"input-field" }}

    <!-- Campo contraseña -->
    {% if form.password.errors %}
        <div class="form-error">{{ form.password.errors }}</div>
    {% endif %}
    {{ form.password|add_class:"input-field" }}

    <div class="remember-me">
        <label for="remember-me">Recuérdame</label>
        <input type="checkbox" name="remember-me" id="remember-me">
    </div>

    <a href="#" class="desktop-content">¿Ha olvidado su contraseña?</a>

    <button type="submit" class="button">
        Iniciar sesión
    </button>

    <button type="button" onclick="document.location.href='{% url 'melaoapp:sign_up_view' %}'" class="button sign-up">
        Registrarse
    </button>
</form>
{% endblock %}

{% block custom_footer %}
<footer>
    <p>Proyecto Melao - 2025</p>
</footer>
{% endblock %}
