<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/chatView.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="NavBar">
        <a id="Arrow-button" href="./home.html">
            <img src="/MelaoApp/resources/left_arrow.svg" width="24" height="24" alt="X">
        </a>
    <p id="PerfilText">Ethan Harper</p>
    </header>
    <div class="desktop-navbar">
        <ul class="nav-list">
            <li>
                <a class="logo-container" href="/MelaoApp/views/MelaoApp/home.html">
                    <img src="/MelaoApp/resources/logoIcono.png" alt="Home">
                    <p class="logo-text">Melao</p>
                </a>
            </li>
            <li><a href="/MelaoApp/views/MelaoApp/newPostView.html">Publicar</a></li>
            <li><a href="/MelaoApp/views/MelaoApp/chatView.html">Chat</a></li>
            <li><a href="/MelaoApp/views/MelaoApp/friendsList.html">Amigos</a></li>
            <li><a href="/MelaoApp/views/MelaoApp/searchPersonView.html">Buscar Personas</a></li>
        </ul>
        <ul class="nav-list">
            <li class="right-nav-item">
                <a href="/MelaoApp/views/MelaoApp/viewNotifications.html">
                    <img src="/MelaoApp/resources/bell.svg" alt="">
                </a>
            </li>
            <li class="right-nav-item">
                <a href="/MelaoApp/views/MelaoApp/profile.html">
                    <img src="/MelaoApp/resources/pfp_example.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="chat-container">
        <div class="messages-container">
            <p class="chat-date">
                25 Octubre 2025
            </p>
            <div class="message">
                <div class="message-content">
                    <p class="username">Ethan</p>
                    <p class="text">¡Hola! ¿Cómo estás?</p>
                </div>
                <img class="profile-photo" src="/MelaoApp/resources/ethan_carter.png" width="40" height="40">
            </div>
            <div class="message-received">
                <img class="profile-photo" src="/MelaoApp/resources/pfp_example.png" width="40" height="40" alt="">
                <div class="message-content-received">
                    <p class="username-received">Sofia</p>
                    <p class="text-received">Todo bien, ¿Y tú?</p>
                </div>
            </div>
            <div class="message-received">
                <img class="profile-photo" src="/MelaoApp/resources/pfp_example.png" width="40" height="40" alt="">
                <div class="message-content-received">
                    <p class="username-received">Sofia</p>
                    <p class="text-received">Estaba justo pensando en que, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea temporibus corrupti ratione architecto quisquam. Odit similique odio officia voluptatum earum. Excepturi qui illo at fugit facilis numquam nostrum illum fuga.
                    Esse tenetur placeat eaque impedit omnis explicabo atque, dolore incidunt odit repudiandae illo quaerat, praesentium reiciendis id blanditiis vero neque sed ipsam sunt deserunt ut voluptas possimus. Non, necessitatibus dignissimos!
                    Quidem ullam totam laudantium in culpa id, doloremque qui. Quod </p>
                </div>
            </div>
        </div>
    </div>
    <div class="input-container">
            <input type="text" id="message-input" placeholder="Escribe un mensaje...">
            <button id="send-button">
                <img src="/MelaoApp/resources/right_arrow_button.svg" alt="Enviar">
            </button>
    </div>
    <footer>
        <nav class="Menu">
            <ul>
                <li><a href="./home.html"><img src="/MelaoApp/resources/HomeIcon.png" alt="Home"></a></li>
                <li><a href="./friendsList.html"><img src="/MelaoApp/resources/FriendsIcon.png" alt="Friends"></a></li>
                <li><a href="./chats.html"><img src="/MelaoApp/resources/ChatIcon.png" alt="Chat"></a></li>
                <li><a href="./newPost.html"><img src="/MelaoApp/resources/PostIcon.png" alt="Post"></a></li>
                <li><a href="./notifications.html"><img src="/MelaoApp/resources/NotificationsIcon.png" alt="Bell"></a></li>
                <li><a href="./profile.html"><img src="/MelaoApp/resources/UserIcon.png" alt="User"></a></li>
            </ul>
        </nav>
    </footer>
</body>