<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<header class="NavBar">
    <div class="NavBarLogo">
        <img id="LogoImg" src="/MelaoApp/resources/logo.png" alt="Logo" width="40" height="40" >
        <p id="LogoText">Melao</p>
    </div>
    <a id="Lupa-button" href="./searchPersonView.html">
        <img src="/MelaoApp/resources/Lupa.png" width="20" height="20" alt="X">
    </a>
</header>
<body>
    <div class="HomePannel">
        <div class="HomePost">
            <img src="/MelaoApp/resources/EthanHuntProfile.png" width="70" height="70" alt="X">
            <p class="PersonName">Ethan Hunt</p>
            <p class="PostDescription">Alrededor de las 7 PM, nos reuniremos en la biblioteca.</p>
            <p class="LastConection">2d</p>
            <div class="PostLikes">
                <img src="/MelaoApp/resources/Like.png" width="20" height="20" alt="Like">
                <p class="LikesCount">12</p>
            </div>
            <div class="PostComments">
                <img src="/MelaoApp/resources/Comment.png" width="20" height="20" alt="Like">
                <p class="LikesCount">5</p>
            </div>
        </div>

    </div>
</body>
</html>