<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/MelaoApp//templates/home.js"></script>
</head>
<header class="NavBar">
    <div class="NavBarLogo">
        <img id="LogoImg" src="/MelaoApp/resources/logo.png" alt="Logo" width="40" height="40" >
        <p id="LogoText">Melao</p>
    </div>
    <a id="Lupa-button" href="./searchPersonView.html">
        <img src="/MelaoApp/resources/Lupa.png" width="30" height="30" alt="X">
    </a>
</header>
<body>
    <div class="HomePannel"></div>
    <footer>
        <nav class="Menu">
            <ul>
                <li><a href="./home.html"><img src="/MelaoApp/resources/HomeIcon.png" alt="Home"></a></li>
                <li><a href="./friendsList.html"><img src="/MelaoApp/resources/FriendsIcon.png" alt="Friends"></a></li>
                <li><a href="./chats.html"><img src="/MelaoApp/resources/ChatIcon.png" alt="Chat"></a></li>
                <li><a href="./newPost.html"><img src="/MelaoApp/resources/PostIcon.png" alt="Post"></a></li>
                <li><a href="./notifications.html"><img src="/MelaoApp/resources/NotificationsIcon.png" alt="Bell"></a></li>
                <li><a href="./profile.html"><img src="/MelaoApp/resources/UserIcon.png" alt="User"></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>