<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/loginView.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<header class="NavBar">
    <img src="/MelaoApp/resources/logo.png" alt="Logo" width="40" height="40" >
    <p>Melao</p>
</header>
<body>

    <div class="LoginPannel">
        <img src="/MelaoApp/resources/logo.png" alt="Logo" class="Logo">
        <h1>Bienvenido a Melao</h1>
        <p id="description">Conéctate con tus compañeros, comparte experiencias y mantente al día con lo que sucede en la comunidad ATI.</p>
        <input type="text" placeholder="Usuario o Correo Electrónico" class="UserDataInput"/>
        <input type="password" placeholder="Contraseña" class="UserDataInput" id="PasswordField"/>
        <div class="RememberMe">
            <p>Recuérdame</p>
            <input type="checkbox" class="LoginCheckbox"/>
        </div>
        <p class="ForgotPassword">¿Has olvidado tu contraseña?</p>
        <input type="button" value="Iniciar Sesión" class="LoginButton"/>
        <input type="button" value="Registrate" class="LoginButton" id="SignUpButton"/>
        <a href="./signUpView.html" id="RegistrarseTexto">¿No tiene una cuenta? Regístrese</a>
    </div>
</body>
</html>