<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/newPost.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/MelaoApp/templates/newPost.js"></script>
</head>
<body>
    <header class="NavBar">
        <a id="X-Icon" href="./home.html">
            <img src="/MelaoApp/resources/X-Icon.png" width="30" height="30" alt="X">
        </a>
        <p id="NavBarText">Nuevo post</p>
        <a id="PostLink" href="./home.html">
            <p id="PostText">Publicar</p>
        </a>
    </header>

    <div class="PostPannel">
        <div class="PostDiv">
            <img src="/MelaoApp/resources/EthanHuntProfile.png">
            <textarea id="PostTextArea" placeholder="¿Qué estás pensando?"></textarea>
            <img src="/MelaoApp/resources/IMG-Icon.png" id="ImageIcon" class="PostIcon">
            <img src="/MelaoApp/resources/Video-Icon.png" id="VideoIcon" class="PostIcon">
        </div>
    </div>
    
    <footer>
        <nav class="Menu">
            <ul>
                <li><a href="./home.html"><img src="/MelaoApp/resources/HomeIconSelected.png" alt="Home"></a></li>
                <li><a href="./friendsList.html"><img src="/MelaoApp/resources/FriendsIcon.png" alt="Friends"></a></li>
                <li><a href="./chatListView.html"><img src="/MelaoApp/resources/ChatIcon.png" alt="Chat"></a></li>
                <li><a href="./newPostView.html"><img src="/MelaoApp/resources/PostIcon.png" alt="Post"></a></li>
                <li><a href="./viewNotifications.html"><img src="/MelaoApp/resources/NotificationsIcon.png" alt="Bell"></a></li>
                <li><a href="./profile.html"><img src="/MelaoApp/resources/UserIcon.png" alt="User"></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>