<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/postView.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="NavBar">
        <a id="Arrow-button" href="./home.html">
            <img src="/MelaoApp/resources/left_arrow.svg" width="24" height="24" alt="X">
        </a>
    <p id="PerfilText">Post</p>
    </header>

    <div class="post">
        <div class="post-author">
            <img class="profile-image" alt="Foto de Perfil" src="/MelaoApp/resources/ethan_carter.png">
            Ethan Carter
        </div>
        <div class="content">
            En mi empresa, los gerentes buscan formar equipos auto-organizados que logren resultados con poca o ninguna supervisión.
        </div>
        <div class="option-container">
            <div class="option">
                <img src="/MelaoApp/resources/comment.svg" alt="">
                <p class="counter">25</p>
            </div>
            <div class="option">
                <img src="/MelaoApp/resources/like.svg" alt="">
                <p class="counter">10</p>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-content">
            <img class="comment-pfp" src="/MelaoApp/resources/ethan_carter_2.png" alt="">
            <div class="comment-text">
                <p class="username">Juan Encarta</p>
                <p class="text">
                    Este enfoque tiene muchos errores. El más importante es que asignar tareas y esperar resultados no funciona.
                </p>
            </div>
        </div>
        <div class="comment-option-container">
            <div class="comment-option">
                <img src="/MelaoApp/resources/comment.svg" alt="">
                <p class="counter">3</p>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-content">
            <img class="comment-pfp" src="/MelaoApp/resources/ethan_carter_2.png" alt="">
            <div class="comment-text">
                <p class="username">Juan Encarta</p>
                <p class="text">
                    Este enfoque tiene muchos errores. El más importante es que asignar tareas y esperar resultados no funciona.
                </p>
            </div>
        </div>
        <div class="comment-option-container">
            <div class="comment-option">
                <img src="/MelaoApp/resources/comment.svg" alt="">
                <p class="counter">3</p>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-content">
            <img class="comment-pfp" src="/MelaoApp/resources/ethan_carter_2.png" alt="">
            <div class="comment-text">
                <p class="username">Juan Encarta</p>
                <p class="text">
                    Este enfoque tiene muchos errores. El más importante es que asignar tareas y esperar resultados no funciona.
                </p>
            </div>
        </div>
        <div class="comment-option-container">
            <div class="comment-option">
                <img src="/MelaoApp/resources/comment.svg" alt="">
                <p class="counter">3</p>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-content">
            <img class="comment-pfp" src="/MelaoApp/resources/ethan_carter_2.png" alt="">
            <div class="comment-text">
                <p class="username">Juan Encarta</p>
                <p class="text">
                    Este enfoque tiene muchos errores. El más importante es que asignar tareas y esperar resultados no funciona.
                </p>
            </div>
        </div>
        <div class="comment-option-container">
            <div class="comment-option">
                <img src="/MelaoApp/resources/comment.svg" alt="">
                <p class="counter">3</p>
            </div>
        </div>
    </div>

    <div class="comment-input">
        <img class="input-img" src="/MelaoApp/resources/pfp_example.png" alt="">
        <div class="comment-field">
            <input type="text" placeholder="Agrega un comentario">
            <img src="/MelaoApp/resources/right_arrow_button.svg" alt="">
        </div>
    </div>

    <footer>
        <nav class="Menu">
            <ul>
                <li><a href="./home.html"><img src="/MelaoApp/resources/HomeIcon.png" alt="Home"></a></li>
                <li><a href="./friendsList.html"><img src="/MelaoApp/resources/FriendsIcon.png" alt="Friends"></a></li>
                <li><a href="./chats.html"><img src="/MelaoApp/resources/ChatIcon.png" alt="Chat"></a></li>
                <li><a href="./newPostView.html"><img src="/MelaoApp/resources/PostIcon.png" alt="Post"></a></li>
                <li><a href="./notifications.html"><img src="/MelaoApp/resources/NotificationsIcon.png" alt="Bell"></a></li>
                <li><a href="./profile.html"><img src="/MelaoApp/resources/UserIcon.png" alt="User"></a></li>
            </ul>
        </nav>
    </footer>
</body>