<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/signUpView.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<header class="NavBar">
    <div class="NavBarLogo">
        <img id="LogoImg" src="/MelaoApp/resources/logo.png" alt="Logo" width="40" height="40" >
        <p id="LogoText">Melao</p>
    </div>
    <a id="X-button" href="./loginView.html">
        <img src="/MelaoApp/resources/X-Icon.png" width="20" height="20" alt="X">
    </a>
</header>
<body>
    <div class="LoginPannel">
        <h1>Crear una cuenta</h1>
        <input type="text" placeholder="Nombre completo" class="UserDataInput"/>
        <input type="text" placeholder="Usuario" class="UserDataInput"/>
        <input type="text" placeholder="Correo electrónico" class="UserDataInput"/>
        <input type="password" placeholder="Contraseña" class="UserDataInput"/>
        <input type="text" placeholder="Fecha de nacimiento (DD/MM/YYYY)" class="UserDataInput"/>
        <a href="./home.html">
            <input type="button" value="Registrar" class="UserDataInput" id="SignUpButton"/>
        </a>
        <p id="Terminos">Al registrarte, aceptas nuestras Condiciones, Política de Privacidad y Uso de Cookies.</p>
    </div>
</body>
</html>