<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/viewNotifications.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/MelaoApp/templates/viewNotifications.js"></script>
</head>
<body>
    <header class="NavBar">
        <a id="Arrow-button" href="./home.html">
            <img src="/MelaoApp/resources/BackArrow.png" width="30" height="30" alt="X">
        </a>
        <p id="NavBarText">Notificaciones</p>
    </header>
    
    <div class="NotificationsPannel">
    </div>
    
    <footer>
        <nav class="Menu">
            <ul>
                <li><a href="./home.html"><img src="/MelaoApp/resources/HomeIconSelected.png" alt="Home"></a></li>
                <li><a href="./friendsList.html"><img src="/MelaoApp/resources/FriendsIcon.png" alt="Friends"></a></li>
                <li><a href="./chatListView.html"><img src="/MelaoApp/resources/ChatIcon.png" alt="Chat"></a></li>
                <li><a href="./newPost.html"><img src="/MelaoApp/resources/PostIcon.png" alt="Post"></a></li>
                <li><a href="./viewNotifications.html"><img src="/MelaoApp/resources/NotificationsIcon.png" alt="Bell"></a></li>
                <li><a href="./profile.html"><img src="/MelaoApp/resources/UserIcon.png" alt="User"></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>