<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melao</title>
    <link rel="stylesheet" href="/MelaoApp/styles/welcome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/MelaoApp/templates/welcome.js"></script>
</head>
<header class="NavBar">
    <p id="LogoText">Melao</p>
</header>
<body>
    <img src="/MelaoApp/resources/logo.png" alt="Logo" class="Logo" width="80" height="80">
    <h1>Bienvenido a Melao</h1>
    <p id="description">Conéctate con tus compañeros, comparte experiencias y mantente al día con lo que sucede en la comunidad ATI.</p>
    <a href="./loginView.html">
        <input type="button" value="Iniciar Sesión" class="LoginButton"/>
    </a>
    <a href="./signUpView.html">
        <input type="button" value="Registrate" class="LoginButton" id="SignUpButton"/>
    </a>
    <p id="MelaoProject">Proyecto Melao - 2025</p>
</body>